.imgContainer{
    width: 100%;
    height: 500px;
    background-color: #267CB5
}

.modalscontainer{
    position: absolute;
    width: 100%;
    top: 420px;
}

.modal1{
    margin-left: 20%;
    float: left;
    width: 300px;
    height: 230px;
    border-radius: 10px;
    margin-bottom:50px;
    background-image: url("../../../public/avisos.png");
    background-position: center;
    background-size: cover;
    background-color: #87CB8F
}

.modal2{
    margin-left: 50px;
    float: left;
    width: 300px;
    height: 230px;
    border-radius: 10px;
    margin-bottom:50px;
    background-image: url("../../../public/email.png");
    background-position: center;
    background-size: cover;
    background-color:#267CB5
}

.modal3{
    margin-left: 50px;
    float: left;
    width: 300px;
    height: 230px;
    border-radius: 10px;
    margin-bottom:50px;
    background-image: url("../../../public/lattes.png");
    background-position: center;
    background-size: 130px;
    background-repeat: no-repeat;
    background-color:#c7c7c7;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

@media all and (max-width: 1366px){
    .imgContainer{
        width: 100%;
        height: 60vh;
        background-color: #267CB5
    }
    
    .modalscontainer{
        text-align: center;
        width: 100%;
        top: 350px;
    }
    
    .modal1{
        float: left;
        width: 230px;
        height: 200px;
        border-radius: 10px;
        margin-bottom:50px;
        background-image: url("../../../public/avisos.png");
        background-position: center;
        background-size: cover;
        background-color: #87CB8F
    }
    
    .modal2{
        margin-left: 50px;
        float: left;
        width: 230px;
        height: 200px;
        border-radius: 10px;
        margin-bottom:50px;
        background-image: url("../../../public/email.png");
        background-position: center;
        background-size: cover;
        background-color:#267CB5
    }
    
    .modal3{
        margin-left: 50px;
        float: left;
        width: 230px;
        height: 200px;
        border-radius: 10px;
        margin-bottom:50px;
        background-image: url("../../../public/lattes.png");
        background-position: center;
        background-size: 130px;
        background-repeat: no-repeat;
        background-color:#c7c7c7;
    }

    a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: inherit;
    }
    
}

