.h1{
    text-align: center;
    color: #FFF;
    padding: 10px;
}
.row{
    margin: auto;
    flex-direction: row;
    justify-content: center;
}
.input{
    margin: 10px;
    width: 200px;
}
.button{
    margin: 10px;
    border-radius: 15px;
    width: 100px;
    height: 40px;
    background: #1D9BF0
}
.buttonPosition{
    text-align: center;
}