.h1 {
  color: #fff;
  font-family: sans-serif;
  font-size: 2rem;
}

.btn { 
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px 30px;
	background: #253341;
	border: none;
	border-radius: 8px;
	color: #ffffff;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	width: 50%;
	margin: 0px auto 22px;

	font-family: sans-serif;
	font-size: 16px;

	cursor: pointer;
}
.btn p{
	margin-bottom: 0px;
}
.btn:hover {
	background-color:#5972a7;
}
.btn:active {
	position:relative;
	top:1px;
}

        